<div class="jumbotron">
    <h2>Mes mobilités</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Préférence</th>
                <th>Type</th>
                <th>SMS/SMP</th>
                <th>Lieu</th>
                <th>Quadrimestre</th>
                <th>Etat</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- That part should be generated dynamically, probably based on a JSON -->
            <tr>
                <td>1</td>
                <td>SMS</td>
                <td>Dublin</td>
                <td>2</td>
                <td>Non confirmée</td>
                <td><button type="button" class="btn btn-danger">Annuler</button></td>
                <td><button type="button" class="btn btn-success">Confirmer</button></td>
                <td></td>
            </tr>
            <!-- End of dynamical generation -->
        </tbody>
    </table>
</div>