@import url("https://fonts.googleapis.com/css?family=Fira+Sans&subset=latin,latin-ext");

body {
    margin-bottom: 50px;
}

.logo{
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    font-size: 60px;
}
.logo-first-letter {
    font-weight: bold;
    color: #5BC0DE;
}

.error {
    display: none;
}

main{
    padding-top: 15px;
}

.clickable{
	cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
