<div class="container">
    <div class="jumbotron">
        <h2>Mobilités confirmées</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Département</th>
                <th>Type</th>
                <th>SMS/SMP</th>
                <th>Lieu</th>
                <th>Quadrimestre</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Etat</th>
            </tr>
            </thead>
            <tbody>
            <!-- That part should be generated dynamically, probably based on a JSON -->
            <tr>
                <td>Chimie</td>
                <td>Erasmus</td>
                <td>SMS</td>
                <td>Québec</td>
                <td>2</td>
                <td>Bebard</td>
                <td>Louis</td>
                <td>En préparation</td>
            </tr>

            <tr class="warning">
                <td>Diététique</td>
                <td>Erabel</td>
                <td>SMS</td>
                <td>Leuven</td>
                <td>1</td>
                <td>Polin</td>
                <td>Jade</td>
                <td>Annulée</td>
            </tr>
            <!-- End of dynamical generation -->
            </tbody>
        </table>
    </div>
</div>
